.slider {
    position: absolute;
    z-index: 1000;
    bottom: 5%;
}

.slider.year-slider {
    width: 30%;
    left: 10%;
}

.slider.month-slider {
    width: 15%;
    left: 48%;
}

.slider.day-slider {
    width: 20%;
    left: 70%;
}
