.slider {
    position: absolute;
    z-index: 1000;
    bottom: 5%;
}

.slider.yearSlider {
    width: 30%;
    left: 10%;
}

.slider.monthSlider {
    width: 15%;
    left: 48%;
}

.slider.daySlider {
    width: 20%;
    left: 70%;
}

/* 
P1 10
X 25
P2 10
X 10
P2 10
X 15
P1 10 
*/
